body{
     background: transparent;
     margin: 0;
}
/* Ydre LED frame */
.mirror-frame {
  width: 600px;
  height: 750px;
  margin: 20px auto;

  padding: 12px;
  border-radius: 40px;

    background: transparent; /* video overtager */
    background-size: 300% 300%;

    /* Black rounded frame */
    border: 10px solid #000;
    box-sizing: border-box;
    background-clip: padding-box;

 

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

/* Background video that fills the mirror */
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.mirror-led {
  width: 100%;
  height: 100%;
  border-radius: 30px;



  display: flex;
  align-items: center;
  justify-content: center;
    position: relative;
    z-index: 1;
}

.ja-btn {
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.nej-btn {
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.yes-btn {
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.no-btn {
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}

/* Glow animation */
@keyframes glowMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* container inde i spejlet - centrerer indhold vandret og lodret */
.container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

/* Styling af start btn*/
.start-btn {
  padding: 15px 50px;
  border-radius: 30px;
  cursor: pointer;
  align-content: center;
}

.start-btn:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
}

.language-selector {
  border: none;
  gap: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
